<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.personalfbu">
    <!-- internet permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        tools:replace="android:label"
        android:name=".PersonalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ChatActivity"
            android:theme="@style/Theme.Design.NoActionBar"/>
        <activity android:name=".SplashScreen"></activity>
        <activity android:name=".SavedListings" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".AddReview" />
        <activity android:name=".EditListingActivity" />
        <activity android:name=".MyListings" />
        <activity android:name=".ListingDetails" />
        <activity android:name=".ViewReviewsActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity
            android:name=".CreateAccountActivity"
            android:theme="@style/Theme.Design.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.codepath.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
        </provider>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>